div#topbar {
    position: absolute;
    top: 0;
    left: 0;
    background: url("../src/black70.png") repeat scroll 0 0 transparent;
    width: 100%;
}

div#topbar div {
    width: 48%;
    color: white;
    opacity: 1;
}

div#topbar div.left {
    float: left;
    text-align: left;
    margin: 3px 0 4px 9px;
}

div#topbar div.right {
    float: right;
    text-align: right;
    margin: 3px 9px 4px 0;
}

div#topbar div a, div#topbar div b {
    color: white;
    font-family: arial, sans-serif;
    font-size: 13px;
    margin: 0 4px;
}
